{#include fragments/layout}

<body>

  <h2>
    {#if pet.isNew()}New {/if}
    Pet
  </h2>
  <form class="form-horizontal" id="add-pet-form" method="post">
    <input type="hidden" name="id" value="{pet.id}" />
    <div class="form-group has-feedback">
      <div class="form-group">
        <label class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-10">
          <span>{owner.firstName} {owner.lastName}</span>
        </div>
      </div>
       {#inputField 'Name' name='name' type='text' result=result field=pet.name /}
       {#inputField 'Birth Date' name='birthDate' type='date' result=result field=pet.birthDate /}
       {#selectField 'Type' name='type' items=petTypes result=result field=pet.type /}
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
            class="btn btn-primary" type="submit">{#if pet.isNew()}Add {#else}Update{/if}
          Pet</button>
      </div>
    </div>
  </form>

</body>

{/include}
