{#include fragments/layout}

<body>

  <h2>Owner</h2>
  <form class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      {#inputField 'First Name' name='firstName' type='text' result=result field=owner.firstName /}
      {#inputField 'Last Name' name='lastName' type='text' result=result field=owner.lastName  /}
      {#inputField 'Address' name='address' type='text' result=result field=owner.address  /}
      {#inputField 'City' name='city' type='text' result=result field=owner.city  /}
      {#inputField 'Telephone' name='telephone' type='text' result=result field=owner.telephone  /}
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" type="submit">
          {#if owner.isNew}Add Owner{#else}Update{/if} Owner</button>
      </div>
    </div>
  </form>
</body>
{/include}
